
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">Register</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start"></ion-buttons>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="submit()">  <ion-card-content>
    <div class="wrapform"></div>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name!.hasError(error.type) && (name!.dirty || name!.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email!.hasError(error.type) && (email!.dirty || email!.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="password!.hasError(error.type) && (password!.dirty || password!.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <div class="sign-up" style="display: flex; justify-content: center;">
      <ion-button fill="outline" type="register" [disabled]="RegisterForm.invalid" shape="round" color="dark" (click)="register()">Register</ion-button>
    </div>

  </ion-card-content>
  <div class="ion-card-footer">
    <span>Already have an account?</span><button class="ion-no-padding" (click)="LoginPage()">Login</button>
  </div>
</form>
</ion-content>
